/*!***************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./assets/scss/vendor/slick-theme.css ***!
  \***************************************************************************************/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(../../assets/img/ajax-loader..gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(../../assets/img/slick..eot);
    src: url(../../assets/img/slick..eot?#iefix) format('embedded-opentype'), url(../../assets/img/slick..woff) format('woff'), url(../../assets/img/slick..ttf) format('truetype'), url(../../assets/img/slick..svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*!*********************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./assets/scss/vendor/slick.css ***!
  \*********************************************************************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*!******************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./assets/scss/main.scss ***!
  \******************************************************************************************************************/
@font-face {
  font-family: 'AlaRuss';
  src: url(../../assets/img/ALaRuss..ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CenturyGothic';
  src: url(../../assets/img/centurygothic..ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CenturyGothic';
  src: url(../../assets/img/centurygothic_bold..ttf);
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'HarmoniaSansProSyr';
  src: url(../../assets/img/HarmoniaSansProCyr-Light..ttf);
  font-style: normal;
  font-weight: light; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: 'CenturyGothic';
  font-weight: normal;
  font-style: normal;
  text-decoration: none; }

body {
  color: #fff;
  position: relative;
  overflow-X: hidden;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.header-fixed {
  position: sticky !important;
  top: 0;
  left: 0;
  border-bottom: 1px solid #cfb583;
  transition: all 0.3s;
}

.mobile__title {
  display: none; }

.container {
  margin: 0 auto;
  max-width: 1313px;
  display: block; }

.form-call_bg {
  width: inherit;
  position: absolute;
  bottom: 100px; }

.form-call__wrapper {
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid #cfb583;
  max-width: 550px;
  width: 100%;
  box-sizing: border-box;
  padding: 47px 85px;
  display: none;
  position: relative; }

.form-call {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 99; }

.form-call__heading {
  font-size: 40px;
  text-align: center;
  color: #d4b895;
  margin-bottom: 43px;
  font-family: 'centuryGothic';
  text-transform: uppercase; }

.form-call__input {
  width: 100%;
  outline: none;
  border: 1px solid #969493;
  border-radius: 5px;
  padding: 15px 30px;
  box-sizing: border-box;
  margin-bottom: 29px;
  font-family: 'centuryGothic'; }

.form-call__text {
  width: 100%; }

.form-call__submit {
  box-sizing: border-box;
  border: none;
  border-radius: 35px;
  background-color: #dcc9b3;
  padding: 20px 40px;
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: 'centuryGothic';
  text-transform: uppercase;
  margin-top: 66px;
  transition: background-color 0.5s ease-in-out; }
  .form-call__submit:hover {
    background-color: #5e6066; }

.header__burger {
  width: 38px;
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: none; }
  .header__burger:hover .header__burger__item:nth-child(2) {
    width: 38px; }
  .header__burger .header__burger__item {
    width: 100%;
    height: 2px;
    background-color: #000; }
    .header__burger .header__burger__item:nth-child(2) {
      width: 50%;
      transition: all 0.3 ease-in-out; }

.mobile__menu__overlay {
  z-index: 201;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(-1000vh);
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

._menu-active {
  opacity: 1;
  transform: translateY(0px); }

.mobile__menu {
  width: 100%;
  background-color: #000;
  padding: 158px 0;
  z-index: 110;
height: 100vh; }
  .mobile__menu .mobile__nav__list {
    margin: 0 auto;
    width: max-content;
    color: white; }
    .mobile__menu .mobile__nav__list .nav__list__item:not(:last-child) {
      margin-bottom: 15px; }
  .mobile__menu .mobile__menu__close {
    background: none;
    border: none;
    font-family: 'centuryGothic';
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #fff; }
  .mobile__menu .link--herse {
    font-family: freight-display-pro, serif;
    font-size: 1.375rem;
    font-weight: bold; }
  .mobile__menu .link__graphic--arc {
    top: 73%;
    left: -23%; }
  .mobile__menu .link__graphic--arc path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1); }
  .mobile__menu .link:hover .link__graphic--arc path {
    stroke-dashoffset: 0;
    transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
    transition-duration: 0.3s; }
  .mobile__menu .nav__list__item {
    font-family: 'CenturyGothic';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 17.33px;
    line-height: 27.81px; }
    .mobile__menu .nav__list__item .nav__list__link {
      color: white; }
    .mobile__menu .nav__list__item:hover .nav__list__link {
      color: #9d8d73; }
    .mobile__menu .nav__list__item:hover::after {
      opacity: 1;
      width: 100%; }
    .mobile__menu .nav__list__item:after {
      content: '';
      width: 0;
      height: 2px;
      background-color: #000;
      display: block;
      opacity: 0;
      transition: width 0.2s ease-in, opacity 0.3s ease-in; }
  .mobile__menu .nav__list__link {
    transition: color 0.3s ease-in-out;
    color: #171728;
    white-space: nowrap; }

.bg-img {
  position: absolute;
  bottom: 100px;
  z-index: 99;
  width: 100%; }

.page__text-header {
  font-family: 'CenturyGothic';
  font-style: normal;
  font-weight: normal;
  font-size: 57px;
  line-height: 68px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
  opacity: 0; }

.page__text-desc {
  font-family: 'HarmoniaSansProSyr';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #727272;
  opacity: 0;
  transform: translateY(100px); }

.page__section__header {
  font-family: 'AlaRuss';
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 80px;
  text-align: center;
  max-width: 100%;
  color: #5f5d5b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  transform: translateY(100px);
  opacity: 0; }
  .page__section__header::after {
    content: '';
    display: block;
    background-image: url(../../assets/img/section-elem..png);
    width: 151px;
    height: 51px;
    margin-top: 36px; }

.page__nav {
  width: 54px;
  height: 54px;
  box-sizing: border-box;
  background-color: #dcc8b2;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%; }

.news-prev {
  left: -80px; }

.news-next {
  right: -80px;
  transform: scale(-1); }

.section__aside-img {
  position: absolute;
  left: 0; }
  .section__aside-img:nth-child(even) {
    left: unset;
    right: 0;
    transform: scale(-1); }

  /* main {
    flex: 1 0 auto;
  }
  footer {
    flex: 0 0 auto;
  } */
 .news-page .section__aside-img {
  top: 0;
 } 
.header {
  /* flex: 0 0 auto; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background-color: #fff;
  z-index: 200; }
  .header .header__logo-wrapper .logo {
    display: none;
    max-width: 119px;
    width: 100%; }
  .header .header__logo-wrapper .alt-logo {
    font-family: 'CenturyGothic';
    font-weight: normal;
    font-style: normal;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none; }
  .header .nav {
    align-self: center;
    margin-left: 124px; }
  .header .nav__list {
    display: flex;
    justify-content: start;
    align-items: center; }
  .header .nav__list__item {
    font-family: 'CenturyGothic';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 17.33px;
    line-height: 27.81px; }
    .header .nav__list__item:not(:last-child) {
      margin-right: 45px; }
    .header .nav__list__item:hover .nav__list__link {
      /* color: #9d8d73; */
     }
    .header .nav__list__item:hover::after {
      opacity: 1;
      width: 100%; }
    .header .nav__list__item:after {
      content: '';
      width: 0;
      height: 1px;
      background-color: #000;
      display: block;
      opacity: 0;
      transition: width 0.2s ease-in, opacity 0.3s ease-in; }
  .header .nav__list__link {
    transition: color 0.3s ease-in-out;
    color: #171728;
    white-space: nowrap; }
  .header .header__socials-wrapper {
    display: flex;
    justify-content: start;
    align-items: center; }
    .header .header__socials-wrapper .header__socials-wrapper__container {
      display: flex;
      justify-content: start;
      align-items: center;
      white-space: nowrap; }
    .header .header__socials-wrapper .header__socials-wrapper__link {
      font-family: 'CenturyGothic';
      font-weight: normal;
      font-style: normal;
      font-size: 22px;
      line-height: 29px;
      color: #c8b597;
      margin-left: 37px; }

.title {
  padding-top: 75px;
  position: relative;
  background: linear-gradient(180deg, white 0%, #ebebeb 100%); }
  .title .container:not(:last-child) {
    height: 1126px; }
  .title .container:last-child {
    padding-top: 210px; }
  .title .title__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  .title .image-container {
    position: absolute;
    top: 0;
    left: auto;
    right: auto; }
    .title .image-container img {
      opacity: 0;
      transition: 0.6s ease-in-out; }
  .title .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cfb583;
    width: 445px;
    height: 445px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-top: 337px; }
  .title .logo-container__inner {
    border: 1px solid #cfb583;
    box-sizing: border-box;
    border-radius: 50%;
    width: 401px;
    height: 401px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .title .title__logo {
    transition: all 0.4s ease-in-out;
    opacity: 0; }
  .title .title__heading {
    margin-bottom: 107px; }
  .title .title-slider {
    opacity: 0;
    transition: 0.3s ease-in-out;
    height: 875px;
    width: 100%; }
    .title .title-slider .title__wrapper__slide {
      position: relative;
      width: 100%;
      height: 875px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
    .title .title-slider .title__wrapper__bg-img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: inherit;
      height: inherit;
      object-fit: cover; }
    .title .title-slider .title__wrapper__label {
      position: relative;
      z-index: 2;
      margin: 0 0 32px 33px; }
    .title .title-slider .title__wrapper__text {
      background-color: #fff;
      padding: 73px 65px;
      box-sizing: border-box;
      z-index: 2;
      position: relative;
      max-width: 652px; }
      .title .title-slider .title__wrapper__text .title__wrapper__text__heading {
        margin-bottom: 34px;
        opacity: 0; }

.mission {
  position: relative;
  background-image: url(../../assets/img/mission-bg..png);
  background-position: top -500px center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5f5;
  padding-top: 310px; }
  .mission .mission__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .mission .mission__wrapper__item {
    background-image: url(../../assets/img/mision1..png);
    background-image: url(../../assets/img/mision2..png);
    background-image: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    padding: 76px 85px; }
    .mission .mission__wrapper__item:nth-child(2), .mission .mission__wrapper__item:nth-child(3) {
      opacity: 0; }
  .mission .mission__wrapper__item__heading {
    margin-bottom: 42px;
    opacity: 0;
    transform: translateX(100px); }

.types {
  padding-top: 55px;
  background-color: #fefefe; }
  .types .type__img {
    margin: 0 auto;
    display: block;
    opacity: 0; }
    .types .type__img:last-child {
      transform: scaleY(-1); }
  .types .types__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'a b c'
 'd e e'; }
  .types .types__wrapper__item {
    background-image: url(../../assets/img/type-bg1..png);
    background-image: url(../../assets/img/type-bg2..png);
    background-image: url(../../assets/img/type-bg3..png);
    background-image: url(../../assets/img/type-bg4..png);
    background-image: url(../../assets/img/type-bg5..png);
    background-image: unset;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 437px;
    opacity: 0; }
    .types .types__wrapper__item:nth-child(n > 3) {
      transform: translateY(100px); }
  .types .types__wrapper__item__container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 241px;
    height: 241px;
    border-radius: 50%;
    font-size: 19px;
    line-height: 19px;
    color: #5f5d5b;
    transition: transform 0.5s ease-in-out; }
    .types .types__wrapper__item__container:hover {
      transform: scale(1.3); }
  .types .types__wrapper__item__span {
    max-width: 117px;
    text-align: center;
    margin-top: 20px; }
  .types .types__wrapper__item:nth-child(even) .types__wrapper__item__container {
    background-color: black;
    color: #ffffff; }
  .types .types__wrapper__item__text-contain {
    grid-area: e; }
  .types .types__wrapper__item__text-contain__wrapper {
    background-color: #fff;
    height: 100%;
    width: 60%;
    padding: 68px 58px; }
  .types .types__wrapper__item__text-contain__wrapper__heading {
    margin-bottom: 47px; }

.catalog__slider__item__container__char-wrap__item__types {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px; }

.catalog__slider__item__container__char-wrap__item__types__item {
  border: 1px solid #cfb583;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  box-sizing: border-box; }
  .catalog__slider__item__container__char-wrap__item__types__item:not(:last-child) {
    margin-right: 13px; }

.catalog {
  padding-top: 124px;
  background-color: #fdfdfd; }
  .catalog .catalog__heading {
    margin-bottom: 106px; }
  .catalog .catalog__slider {
    width: 100%;
    box-shadow: 0px 0px 40px -13px black;
    padding: 23px 24px;
    box-sizing: border-box; }
    .catalog .catalog__slider .slick-list {
      overflow: visible;
     }
  .catalog .catalog__slider__item {
    background-color: #fff;
    border: 1px solid #cfb583;
    border-radius: 5px;
    min-height: 500px; }
  .catalog .catalog__slider__item__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 52px; }
  .catalog .catalog__slider__item__container__text-wrap__name {
    color: #4a4a52;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 24px;
    opacity: 0; }
  .catalog .catalog__slider__item__container__text-wrap__desc {
    color: #727272;
    font-size: 17px;
    line-height: 27px;
    opacity: 0;
    transform: translateY(100px); }
  .catalog .catalog__slider__item__container__img-wrap {
    opacity: 0;
    transform: translateY(-100px);
    width: 100%;
    height: 530px;
    position: relative;
    bottom: 70px; }
    .catalog .catalog__slider__item__container__img-wrap img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .catalog .catalog__slider__item__container__char-wrap {
    margin-left: auto; }
  .catalog .catalog__slider__item__container__char-wrap__item {
    display: grid;
    grid-template-columns: 47px auto;
    column-gap: 36px;
    opacity: 0;
    transform: translateX(-100px); }
    .catalog .catalog__slider__item__container__char-wrap__item:not(:last-child) {
      margin-bottom: 68px; }
  .catalog .catalog__slider__item__container__char-wrap__item__icon {
    width: 47px;
    height: 49px;
    object-fit: contain; }
  .catalog .catalog__slider__item__container__char-wrap__item__wrapper span {
    display: block; }
  .catalog .catalog__slider__item__container__char-wrap__item__name {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #4a4a52; }
  .catalog .catalog__slider__item__container__char-wrap__item__desc {
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    color: #cececf; }
  .catalog .catalog__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 63px auto 0; }
  .catalog .catalog__nav__link {
    border: none;
    width: 273px;
    height: 73px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #d3b794;
    transition: background 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    line-height: 19px;
    color: #fff;
    text-transform: uppercase; }
    .catalog .catalog__nav__link:hover {
      background: #5e6066; }
  .catalog .catalog__nav__wrapper {
    margin: 0 104px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .catalog .catalog__button {
    background: transparent;
    border: none;
    cursor: pointer; }
    .catalog .catalog__button:last-child img {
      transform: scale(-1); }
  .catalog .catalog__nav__wrapper__count {
    margin: 0 19px; }
    .catalog .catalog__nav__wrapper__count .number {
      font-size: 55px;
      line-height: 45px;
      font-weight: bold;
      color: #d4b895; }
    .catalog .catalog__nav__wrapper__count .slash {
      font-size: 75px;
      line-height: 75px;
      color: #969394; }
    .catalog .catalog__nav__wrapper__count .total {
      font-size: 26px;
      line-height: 45px;
      color: #3e3e3e; }

.masters {
  background-image: url(../../assets/img/masters-bg..png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 322px; }
  .masters .section__aside-img {
    top: 1300px; }
  .masters .masters__header {
    margin-bottom: 34px; }
  .masters .masters__wrap {
    box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.5); }
  .masters .masters__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .masters .masters__wrapper:last-child {
      margin-top: 15px;
      column-gap: 15px; }
  .masters .masters__wrapper__img-container {
    transform: translateX(-100px);
    opacity: 0;
    height: 438px;
    background-image: url(../../assets/img/masters1..png);
    background-image: url(../../assets/img/masters2..png);
    background-image: url(../../assets/img/masters3..png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 34px 24px;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column; }
  .masters .masters__wrapper__img-container__text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px; }
    .masters .masters__wrapper__img-container__text span {
      display: block;
      font-size: 16px;
      line-height: 23px;
      text-align-last: left;
      color: #000; }
  .masters .masters__wrapper__text-container {
    padding: 80px 87px; }
  .masters .masters__wrapper__text-container__heading {
    margin-bottom: 24px; }
  .masters .masters__wrapper__item {
    opacity: 0;
    height: 438px;
    padding: 34px 24px;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.news {
  padding-top: 420px; }
  .news .news__header {
    margin-bottom: 90px; }
  .news .news__wrapper {
    position: relative;
    opacity: 0; }

.news__slider__item {
  width: 372px;
  margin-right: 55px; }

.news__slider__item__img-container {
  width: 372px;
  padding: 14px 15px;
  background-color: #f9f9f9;
  box-sizing: border-box; }
  .news__slider__item__img-container img {
    width: 100%;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;
   }
    .news__slider__item__img-container img:hover {
      transform: scale(1.1);
    }

.news__slider__item__text-container {
  text-align: left;
  margin-top: 35px; }

.news__slider__item__text-container__heading {
  font-size: 22px;
  line-height: 27px;
  color: #231e1e;
  margin-bottom: 21px; }

.news__slider__item__text-container__desc {
  font-size: 16px;
  line-height: 23px;
  color: #727272; }

.news-page {
  padding-top: 114px; }
  .news-page .section__aside-img {
    object-fit: cover;
    position: absolute;
    overflow: hidden;
   }

.news-page__title {
  margin-bottom: 74px; }

.news-page__heading {
  margin-bottom: 44px; }

.news-page__desc {
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #171728; }

.news-page__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 372px));
  justify-content: space-between;
  gap: 89px 55px; }
  .news-page__wrapper .news__slider__item {
    margin-right: 0; }

.welcome {
  padding-top: 278px;
  background-image: url(../../assets/img/welcome-bg..png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
  .welcome .welcome__wrap {
    display: grid;
    grid-template-columns: minmax(300px, 595px) auto;
    justify-content: space-between; }
  .welcome .welcome__text-wrapper {
    text-align: left; }
  .welcome .welcome__text-wrapper__heading {
    margin-bottom: 51px; }
  .welcome .welcome__text-wrapper__desc {
    margin-bottom: 67px; }
  .welcome .welcome__text-wrapper__container {
    display: flex;
    justify-content: start;
    align-items: center; }
  .welcome .welcome__text-wrapper__container__item {
    width: 273px;
    padding: 21px 36px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    line-height: 19px;
    background-color: #d3b794;
    transition: background-color 0.3s ease-in-out; }
    .welcome .welcome__text-wrapper__container__item:first-child {
      margin-right: 21px; }
    .welcome .welcome__text-wrapper__container__item:hover {
      background-color: #5e6066; }
  .welcome .welcome__img-wrapper {
    transform: translateX(100px);
    border: 1px solid #cfb583;
    border-radius: 50%;
    padding: 33px;
    box-sizing: border-box; }
  .welcome .welcome__img-wrapper__inner {
    border: 1px solid #cfb583;
    border-radius: 50%;
    padding: 34px; }
  .welcome .welcome__img-wrapper__img {
    border-radius: 50%;
    object-fit: cover; }

.footer {
  position: relative;
  z-index: 101;
  padding: 246px 150px 95px; }
  .footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .footer .footer__wrapper__item {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column; }
    .footer .footer__wrapper__item:nth-child(2) {
      align-items: center; }
    .footer .footer__wrapper__item:nth-child(3) {
      align-self: flex-end;
      flex-direction: row;
      align-items: center; }
  .footer .footer__logo {
    margin-bottom: 45px; }
  .footer .footer__link {
    font-family: 'HarmoniaSansProSyr';
    font-size: 15px;
    line-height: 19px;
    color: #bdbdbd;
    text-decoration: underline; }
  .footer .footer__wrapper__item__text {
    font-family: 'HarmoniaSansProSyr';
    font-size: 25px;
    line-height: 25px;
    color: #727272;
    text-align: center;
    margin-bottom: 5px; }
  .footer .footer__wrapper__item__partner-text {
    font-size: 13px;
    line-height: 14px;
    color: #727272;
    margin-right: 10px; }
  .footer .footer__aside {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

.post {
  padding-top: 114px;
  position: relative;
  z-index: 99; }
  .post .container {
    max-width: 1074px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .post .post__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 74px; }
  .post .post__title__heading {
    margin-bottom: 58px; }
  .post .post__title__date {
    padding: 14px 17px;
    border-radius: 18.5px;
    background-color: #d4b895;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 62px; }
  .post .post__title__desc {
    font-size: 17px;
    line-height: 27px;
    color: #171728;
    text-align: center;
    font-weight: 500;
    max-width: 911px; }
  .post .post__wrapper__img-box {
    background-color: #fff;
    padding: 25px 24px;
    box-sizing: border-box;
    margin: 0 auto 50px; }
    .post .post__wrapper__img-box img {
      width: 100%;
      object-fit: cover; }
  .post .post__wrapper__text {
    font-size: 16px;
    line-height: 30px;
    color: #000;
    margin-bottom: 68px; }

.post__link {
  box-sizing: border-box;
  border-radius: 26px;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px 35px;
  font-size: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
 }
  .post__link:hover {
    background-color: #dcc9b3;
  }
  .post__link::before {
    content: '';
    width: 17px;
    height: 14px;
    display: block;
    background-image: url(../../assets/img/go-back..png);
    margin-right: 10px; }

.catalog-page {
  padding-top: 94px; }
  .catalog-page .catalog__title {
    margin-bottom: 71px; }
  .catalog-page .catalog__heading {
    margin-bottom: 35px; }
  .catalog-page .catalog__desc {
    opacity: 0;
    transition: 1.5s;
    font-size: 17px;
    line-height: 27px;
    color: #171728;
    text-align: center;
    max-width: 984px;
    margin: 0 auto; }
  .catalog-page .catalog__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 41px; }
  .catalog-page .catalog__filter__label {
    font-family: 'AlaRuss';
    font-size: 29px;
    color: #5f5d5b;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .catalog-page .catalog__filter__label:hover {
      color: #d4b895 !important;
    }
    .catalog-page .catalog__filter__label:not(:last-child) {
      margin-right: 20px; }
    .catalog-page .catalog__filter__label:not(:last-child)::after {
      content: '';
      width: 11px;
      height: 11px;
      border: 1px solid #cfb583;
      background-color: #f7efe2;
      display: block;
      box-sizing: border-box;
      border-radius: 50%;
      margin-left: 20px; }
    .catalog-page .catalog__filter__label .catalog__filter__check {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
  .catalog-page .catalog__wrapper {
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    row-gap: 45px;
    justify-content: space-between; }
  .catalog-page .catalog__wrapper__item {
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
   }
  .catalog-page .catalog__wrapper__item__name {
    padding: 40px 35px 0;
    font-size: 20px;
    line-height: 20px;
    color: #4a4a52;
    margin-bottom: 40px;
    display: block; }
  .catalog-page .catalog__wrapper__item__img-box {
    width: 249px;
    height: 249px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px; }
    .catalog-page .catalog__wrapper__item__img-box img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      transition: transform 0.9s ease-in-out; }
    .catalog-page .catalog__wrapper__item__img-box:hover img {
      transform: scale(1.3); }
  .catalog-page .catalog__wrapper__item__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    width: 100%; }
  .catalog-page .catalog__wrapper__item__container__cost {
    font-size: 21px;
    color: #4a4a52;
    text-align: center;
    display: block; }
  .catalog-page .catalog__wrapper__item__container__link {
    padding: 18px 46px;
    box-sizing: border-box;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #fff;
    background-color: #d3b794;
    transition: background-color 0.3s ease-in-out; }
    .catalog-page .catalog__wrapper__item__container__link:hover {
      background-color: #5e6066; }

.catalog-adv {
  padding-top: 195px;
  position: relative;
  z-index: 102;
 }
  .catalog-adv .catalog-adv__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 249px);
    grid-template-areas: 'a b c'
 'd e e';
    row-gap: 91px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99; }
  .catalog-adv .catalog-adv__wrapper__item {
    border: 1px solid #cfb583;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 249px;
    height: 249px;
    transition: transform 0.5s ease-in-out; }
    .catalog-adv .catalog-adv__wrapper__item:hover {
      transform: scale(1.3); }
    .catalog-adv .catalog-adv__wrapper__item:nth-child(even) {
      background-color: #000; }
      .catalog-adv .catalog-adv__wrapper__item:nth-child(even) .catalog-adv__wrapper__item__text {
        color: #fff; }
  .catalog-adv .catalog-adv__wrapper__item-text {
    background-color: #fff;
    padding: 91px 79px;
    grid-area: e; }
  .catalog-adv .catalog-adv__wrapper__item-text__heading {
    margin-bottom: 47px; }
  .catalog-adv .catalog-adv__wrapper__item__img {
    margin-bottom: 29px;
    width: 54px;
    height: 70px;
    object-fit: contain; }
  .catalog-adv .catalog-adv__wrapper__item__text {
    font-size: 20px;
    line-height: 20px;
    color: #5f5d5b;
    text-align: center; }

._label-active {
  color: #d4b895 !important; }

.form-order__wrapper {
  max-width: 1180px;
  color: #5f5d5b;
  display: none; }

.form-order {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "centuryGothic", sans-serif;
  /* changed syka bliad */
  color: #5f5d5b;
  background-image: url(../../assets/img/masters-bg..png);
  /* changed syka bliad */
  background-size: cover;
  /* changed syka bliad */
  background-position: bottom; }

.form-order__header {
  font-size: 40px;
  line-height: 50px;
  color: #d4b895;
  margin-bottom: 58px;
  text-transform: uppercase; }

.form-order__name {
  font-size: 25px;
  display: block;
  margin-bottom: 25px;
  font-weight: 500;
  color: #5e6066; }

.form-order__filters {
  padding: 20px 0;
  max-width: 850px; }

.form-order__filters__label {
  display: inline-block;
  padding: 15px 0;
  margin-right: 20px;
  color: #5e6066; }

.form-order__filters__label input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer; }

.form-order__filters__label label {
  position: relative;
  cursor: pointer; }

.form-order__filters__label input:checked + label {
  color: #d5b996; }

.form-order__filters__label label::before {
  content: '';
  background-color: transparent;
  border: 2px solid #737373;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px; }

.form-order__filters__label input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #737373;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.form-order__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 35px 33px; }

.form-order__input {
  padding: 15px;
  width: 300px;
  border: 1px solid #737373;
  border-radius: 4px;
  outline: none; }

.form-order__submit {
  display: block;
  padding: 20px 60px;
  background-color: #dcc9b3;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  margin-left: auto;
  font-weight: 500;
  border: none;
  transition: background-color .5s; }

.form-order__submit:hover {
  background-color: #5e6066; }

.catalog-item {
  background-color: #fafafa;
  padding-top: 114px;
  position: relative;
  z-index: 99; }
  .catalog-item .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 99; }
  .catalog-item .catalog-item__title {
    margin-bottom: 43px; }
  .catalog-item .catalog-item__title__heading {
    margin-bottom: 44px; }
  .catalog-item .catalog-item__title__desc {
    opacity: 0;
    font-size: 17px;
    line-height: 27px;
    color: #171728;
    text-align: center; }
  .catalog-item .catalog-item__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 102px; }
  .catalog-item .catalog-item__body__slider {
    width: 450px;
    box-sizing: border-box; }
  .catalog-item .catalog-item__body__slider__item {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px; }
    .catalog-item .catalog-item__body__slider__item img {
      object-fit: contain;
      height: 100%; }
  .catalog-item .catalog-item__body__slider__wrap {
    position: relative;
    width: 450px;
    box-sizing: border-box;
    transform: translateX(-100px); }
  .catalog-item .catalog-item__nav {
    width: 54px;
    height: 54px;
    box-sizing: border-box;
    background-color: #dcc8b2;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    z-index: 100; }
  .catalog-item .catalog-item-prev {
    left: 0px; }
  .catalog-item .catalog-item-next {
    right: 0px;
    transform: scale(-1); }
  .catalog-item .catalog-item__body__pars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
  .catalog-item .catalog-item__body__pars__item {
    opacity: 0;
    transform: translateX(-200px);
    display: flex;
    justify-content: start;
    align-items: flex-start; }
    .catalog-item .catalog-item__body__pars__item:not(:last-child) {
      margin-bottom: 69px; }
  .catalog-item .catalog-item__body__pars__item__img {
    width: 46px;
    height: 47px;
    object-fit: contain;
    margin-right: 36px; }
  .catalog-item .catalog-item__body__pars__item__name {
    font-size: 18px;
    color: #4a4a52;
    display: block;
    margin-bottom: 17px; }
  .catalog-item .catalog-item__body__pars__item__desc {
    font-size: 17px;
    color: #cececf;
    display: block; }
  .catalog-item .catalog-item__body__info {
    border: 1px solid #d4b895;
    padding: 46px 22px; }
  .catalog-item .catalog-item__body__info__heading {
    font-size: 25px;
    line-height: 25px;
    color: #4a4a52;
    margin-bottom: 31px;
    text-align: center; }
  .catalog-item .catalog-item__body__info__cost {
    color: #4a4a52;
    font-size: 35px;
    text-align: center;
    display: block;
    margin-bottom: 38px; }
  .catalog-item .catalog-item__body__info__desc {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 39px;
    color: #959599;
    text-align: center; }
  .catalog-item .catalog-item__body__info__link {
    display: block;
    padding: 26px 81px;
    text-align: center;
    background-color: #dcc9b3;
    border-radius: 35px;
    text-transform: uppercase;
    color: #fff;
    transition: background-color 0.3s ease-in-out; }
    .catalog-item .catalog-item__body__info__link:hover {
      background-color: #5e6066; }
  .catalog-item .catalog-item__gallery {
    margin-top: 119px; }
  .catalog-item .catalog-item__gallery__heading {
    font-family: 'AlaRuss';
    font-size: 70px;
    color: #5f5d5b;
    text-align: center;
    margin-bottom: 57px; }
  .catalog-item .catalog-item__gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 310px);
    justify-content: center;
    column-gap: 18px; }
  .catalog-item .catalog-item__gallery__wrapper__item {
    height: 241px;
    width: 310px;
    box-sizing: border-box;
    padding: 18px 15px;
    background-color: #fff;
    overflow: hidden;
     }
    .catalog-item .catalog-item__gallery__wrapper__item img:hover {
      transform: scale(1.3); }
    .catalog-item .catalog-item__gallery__wrapper__item img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      transition: transform 0.5s ease-in-out; }
  .catalog-item .catalog-item-link {
    width: 197px;
    align-self: center;
    margin-top: 134px; }

._active {
  opacity: 1 !important;
  transform: translateY(0px) !important;
  transition: 1s ease-in-out; }

.good-page .footer {
  background-color: #fafafa;
}
@media screen and (max-width: 1335px) {
  .header .nav {
    margin-left: 0; }
  .header .header__socials-wrapper .header__socials-wrapper__link {
    margin-left: 10px; } }

@media screen and (max-width: 1200px) {
  .header .header__logo-wrapper {
    display: none; }
  .header .nav {
    display: none; }
  .header .header__socials-wrapper__link {
    display: none; }
  .header__burger {
    display: flex; } }

@media screen and (max-width: 1040px) {
  .title .title-slider .title__wrapper__bg-img {
    position: static;
  }
  .main {
    background-image: url(../../assets/img/masters-bg..png); }
  .title {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; }
    .title .title__heading {
      display: none; }
    .title .container:last-child {
      padding-top: 0; }
    .title .title-slider .title__wrapper__text {
      display: none; }
    .title .image-container {
      display: none; }
    .title .logo-container {
      width: max-content;
      height: max-content;
      border: none; }
    .title .logo-container__inner {
      height: max-content;
      width: max-content;
      border: none; }
    .title .logo-container {
      margin-top: 50px;
      margin-bottom: 50px; }
    .title .title-slider .title__wrapper__slide {
      height: 411px; }
    .title .title-slider {
      height: 411px;
      width: 100vw !important; }
      .title .title-slider .title__wrapper__label {
        display: none; }
    .title .mobile__title {
      display: block;
      padding: 0 15%; }
    .title .mobile__title__heading {
      margin-bottom: 37px; }
  .mission {
    padding-top: 0; }
  .title .container:not(:last-child) {
    height: max-content;
    padding-bottom: 47px; } }

@media screen and (max-width: 850px) {
  .catalog-adv .catalog-adv__wrapper__item {
    margin: 0 auto;
  }
  .catalog-adv .catalog-adv__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 'e'
 'a'
 'b'
 'c'
 'd';
    align-items: center;
    justify-content: center; }
  .mission .mission__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 'b'
 'a'
 'c'
 'd'; }
  .mission .mission__wrapper__item:nth-child(2) {
    height: 253px;
    grid-area: b; }
  .mission .mission__wrapper__item:nth-child(3) {
    height: 253px;
    grid-area: c; }
  .types .types__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 'e'
 'a'
 'b'
 'c'
 'd';
    background-image: url(../../assets/img/masters-bg..png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px cover; }
  .types .types__wrapper__item__text-contain {
    background-image: none !important; }
  .types .types__wrapper__item__text-contain__wrapper {
    width: 100%;
    height: max-content;
    padding: 0; }
  .types .types__wrapper__item__text-contain__wrapper__heading {
    background-image: url(../../assets/img/type-bg5..png);
    padding: 100px 30px;
    color: #fff;
    text-align: center; }
  .types .types__wrapper__item__text-contain__wrapper__desc {
    padding: 30px; }
  .types .types__wrapper__item__container:nth-child(odd) {
    border: 1px solid #cab282; }
  .types .types__wrapper__item__container {
    background-color: transparent; }
  .types .types__wrapper__item {
    background-image: none !important;
    height: max-content; }
    .types .types__wrapper__item:not(:last-child) {
      margin-bottom: 40px; }
  .types .type__img:last-child {
    display: none; }
  .catalog {
    display: none; }
  .masters {
    padding-top: 137px; }
    .masters .masters__wrapper {
      grid-template-columns: 1fr;
      grid-template-areas: 'b' 'a'; }
    .masters .masters__wrapper__img-container {
      grid-area: a; }
    .masters .masters__wrapper__text-container {
      grid-area: b; }
    .masters .masters__wrapper:last-child {
      margin-top: 0; }
  .news {
    padding-top: 120px; }
    .news .news__slider {
      width: 100vw; }
  .welcome .welcome__wrap {
    grid-template-columns: 1fr;
    grid-template-areas: 'b' 'a'; }
  .welcome .welcome__img-wrapper {
    grid-area: b;
    margin-bottom: 27px; }
  .welcome .welcome__img-wrapper__img {
    width: 100%; }
  .welcome .welcome__text-wrapper__heading {
    text-align: center; }
  .welcome .welcome__text-wrapper__desc {
    text-align: center; }
  .welcome .welcome__text-wrapper__container {
    justify-content: center; }
  .footer {
    padding: 89px 10%; }
  .footer__wrapper {
    flex-direction: column;
    align-items: center !important; }
  .footer .footer__wrapper__item {
    justify-content: center;
    align-items: center; }
  .footer .footer__wrapper__item:nth-child(3) {
    align-self: initial; }
  .footer .footer__wrapper__item:not(:last-child) {
    margin-bottom: 50px; } }

@media screen and (max-width: 520px) {
  .catalog-page .catalog__wrapper {
    justify-content: center;
  }
  .catalog-item .catalog-item__body {
    margin: 0 auto;
    width: 300px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    row-gap: 40px; }
  .form-call__wrapper {
    padding: 47px 10px; }
  .section__aside-img {
    width: 10% !important; }
  .post .post__wrapper__text {
    padding: 0 10%;
    text-align: center; }
  .types .types__wrapper__item__text-contain__wrapper__heading {
    padding: 100px 10%; }
  .types .types__wrapper__item__text-contain__wrapper__desc {
    padding: 30px 10%; }
  .page__text-header {
    font-size: 32px;
    line-height: 39px; }
  .page__text-desc {
    font-size: 16px;
    line-height: 20px; }
  .page__section__header {
    font-size: 60px; }
  .page__section__header::after {
    margin-top: 10px; }
  .types {
    padding-top: 0; }
  .masters .masters__wrap {
    box-shadow: none; }
  .masters__wrapper__text-container {
    padding-top: 0 !important; }
  .news .news__slider__item {
    margin-right: 0;
    width: 99vw; }
  .news__slider__item__text-container {
    padding: 0 10%; }
  .welcome .welcome__img-wrapper {
    width: 100vw; }
  .welcome {
    padding-top: 120px; }
  .welcome__text-wrapper {
    width: 100vw; }
  .welcome .welcome__text-wrapper__container__item {
    font-size: 16px; } }

